.form-page{
    width:100%;
    min-height:100vh;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:50px 80px;
    gap:60px;

    background:#f5f7fa;
}

.form-container{
    flex:1;
}

.form-container h1{
    font-size:30px;
    text-align: left;
    color:#0b2d5c;
    margin-top:0px;
    margin-bottom:0px;
}

.form-container label{
    display:block;
    text-align: left;
    color: #000000;
    margin-top:20px;
    margin-bottom:8px;
    font-weight:600;
}

.form-container input{
    width:100%;
    max-width:600px;
    height:45px;
    padding:0px 15px;
    font-size:17px;
    border-radius:6px;
    border:1px solid #000000;
}

.form-container button{
    margin-top:30px;
    width:180px;
    height:50px;
    border:none;
    border-radius:8px;
    background:#0b2d5c;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.form-container button:hover{
    background:#145da0;
}

.form-image{
    flex:1;
    display:flex;
    justify-content:center;
    margin-top: -35px;
    align-items:center;
}

.form-image img{
    width:80%;
    max-width:550px;
    border-radius:15px;
    box-shadow:0 8px 25px rgba(0,0,0,.25);
}

