.login-page{
    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#8baff3,#145da0);
}

.login-box{
    width:420px;
    background:white;
    padding:40px;
    border-radius:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.35);
}

.login-box h1{
    text-align:center;
    color:#183966;
    margin-bottom:10px;
    font-size:50px;
}

.login-form{
    display:flex;
    flex-direction:column;
}


.login-form label{
    font-weight:bold;
    color: rgb(12, 12, 0);
    text-align: left;
    margin-bottom:0px;
    margin-top: 10px;
}

.error-input {
  border: 2px solid red;
  outline:#dd0303; 
}

.login-form input{
    height:40px;
    padding:0 10px;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:8px;
    outline:none;
}

.login-form input:focus{
    border-color:#16426b;
}

.login-btn{
    margin-top:30px;
    height:45px;
    border:none;
    border-radius:8px;
    background:#102646;
    color:rgb(252, 247, 247);
    font-size:18px;
    cursor:pointer;
}

.signup-text {
    text-align: center;
    margin-top: 10px;
    border-color: #f7efef;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.signuplink {
    color: #021025;
    cursor:pointer;
    margin-left: 10px;
    font-weight: bold;
    margin-bottom:10px;

}

.passresetbutton {
    text-align: center;
    margin-top: 10px;
    
}